[submodule "nithinibhandari1999.github.io"]
	path = nithinibhandari1999.github.io
	url = https://github.com/NithinIBhandari1999/nithinibhandari1999.github.io.git
[submodule "NibPasswordManagerWebsite"]
	path = NibPasswordManagerWebsite
	url = https://github.com/NithinIBhandari1999/NibPasswordManagerWebsite
